[client]
# 支持utf8mb4编码
default-character-set = utf8mb4

[mysqld]
#utf8mb4编码是utf8编码的超集，兼容utf8，并且能存储4字节的表情字符
init-connect = 'SET NAMES utf8mb4'
character-set-server = utf8mb4

#设置Mysql的最大连接数
max_connections = 2568

#防止暴力破解超过100次后禁止连接 成功连接一次后会清零
max_connect_errors = 100

#跳过授权表 忘记密码root密码时添加此选项
#skip-grant-tables

sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"

#====================================================================================================================#
#================================================== 通用日志 =========================================================#
#====================================================================================================================#
#开启通用日志 -> 记录建立的客户端连接和执行的语句
general_log=1
#通用查询日志输出格式
log_output = file
#====================================================================================================================#
#================================================== 错误日志 =========================================================#
#====================================================================================================================#
log-error = /var/lib/mysql/mysqld-error.log
#====================================================================================================================#
#================================================== 慢日志 ===========================================================#
#====================================================================================================================#
#是否启用慢查询
slow_query_log = on
#日志位置 - > 注意 目标文件夹权限, 需要 MySQL 的所有者可写; 否则会强制不启用
slow_query_log_file = /var/lib/mysql/mysql-slow.log
#添加此项即打开未添加索引的所有日志到慢日志中, 可不打开
log_queries_not_using_indexes = on
#小于此值1s会记录到慢日志 . 默认为 10s,可根据自己实际情况进行设置
long_query_time = 1
#====================================================================================================================#
#================================================== bin-log 日志 =====================================================#
#====================================================================================================================#
#标识该语句最初从哪个server写入
server-id = 1
log-bin = /var/lib/mysql/mysql-bin